md-card {
  margin-bottom: 20px;
  overflow: hidden;
  width: 80%;
  max-width: 400px;
  padding-bottom: 0;
}

md-card-title {
  font-weight: bold;
}

.datetime {
  color: #bbbbbb !important;
  padding-left: 30px;
  font-weight: normal;
}
