<div class="editorcontent" *ngIf="articleStream">
    <md-card>
        <label for="file-input">
            <img style="cursor: pointer" md-card-image src="../../../assets/images/banner_for_editor.png"
                 *ngIf="!(articleStream | async)?.banner">
            <img style="cursor: pointer" md-card-image [src]="(articleStream | async)?.banner"
                 *ngIf="(articleStream | async)?.banner">
        </label>

        <md-card-content>
            <md-input-container class="full-width">
                <input mdInput #title placeholder="title" [value]="(articleStream | async)?.title"
                       (change)="saveArticle(title.value, content.value, 'blog')">
            </md-input-container>

            <ckeditor
                    #content
                    [ngModel]="(articleStream | async)?.content"
                    [config]="config"
                    (change)="saveArticle(title.value, content.value, 'blog')"
                    debounce="2000">
            </ckeditor>
        </md-card-content>
    </md-card>
    <input type="file" style="display: none" id="file-input" (change)="uploadImage($event)" placeholder="Upload file"
           accept="image/png">
</div>

<div class="appfeedback">
    <h1>Feedback</h1>
    Heb je vragen over het schrijven van artikelen of over jouw artikel specifiek, schrijf je vraag hieronder.
    <app-feedback [feedback]="'sandbox_' + (articleStream | async)?.$key"></app-feedback>
</div>

<md-card class="delete">
    <md-checkbox [(ngModel)]="confirmdeletion">Ik ben zeker dat dit item<br> definitief verwijderd mag worden.
    </md-checkbox>
    <button class="alert" style="float: right" md-raised-button (click)="deleteArticle()">
        Verwijder.
    </button>
</md-card>

<div>
<span class="publish" *ngIf="(articleStream | async)?.askforpublish">
        <p><strong>Er is een aanvraag tot publiceren ingediend.</strong></p>
        Zeer binnenkort wordt je artikel gepubliceerd. <br>
        Zoniet wordt hierboven in de reacties verklaard waarom.
    </span>
</div>

<md-card *ngIf="!(articleStream | async)?.askforpublish" class="publish">
    <p><strong>Eens je artikel klaar is, publiceer het. </strong></p>
    Wanneer wij het nagelezen hebben, publiceren we het.<br>
    Zoniet wordt hierboven in de reacties verklaard waarom.
    <button class="alert" style="float: right" md-raised-button
            (click)="publishArticle(article)">
        Publiceer.
    </button>
</md-card>


<a class="right" style="color: #ffffff"
   (click)="publishArticle(article)">
    Publiceer.
</a>