md-list {
  margin-top: 10px;
  padding: 0;
  width: 100%;
  float: left;
}

md-list-item {
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
  margin: 0;
}

.mat-list-item-content {
  height: 32px;
}

md-list-item:last-of-type {
  padding-top: 30px;
  border-bottom: none;
}

div.editorcontent {
  margin-top: 10px;
  width: 68%;
  float: right;
}

.full-width {
  width: 100%;
}

table {
  width: 100%;
}

table.linktable {
  margin: 20px 0 0 0;
  width: 100%;
  border-left: 3px solid #cccccc;
}

td.meta {
  font-size: 0.7em;
  color: #999999;
}

.alert {
  background: red;
  color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

md-card.menu {
  float: left;
  width: 30%;
  padding: 20px 0 20px 0;
  margin-left: -20px;
  min-width: 350px;
}
