.profile-form {
  width: 100%;
}

.public {
  color: #86b517;
}
.profile-image {
  padding: 0;
  width: 210px;
  margin-right: 10px;
  margin-bottom: 1000px;
  float: left;
}

.profile-image md-card {
  padding: 5px 5px 2px 5px;
  width: 200px;
}

.profile-image p {
  float: left;
  margin: 15px 10px 15px 10px;
  font-family: Arial;
  font-size: 0.8em;
}

.profile-content {
  width: 70vw;
  max-width: 420px;
  float: left;
}

.profile-full-width {
  width: 100%;
}

md-card {
  float: left;
  margin: 5px;
  width: 70vw;
  max-width: 372px;
}

@media only screen and (max-width: 700px) {
  .profile-image {
    margin-bottom: 10px;
  }
}

h1 {
  font-family: Arial;
}


input.jobother {
  border: 0;
  border-bottom: solid 1px #cccccc;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 1em;
  width: 80%;
  margin-left: 0px;
}
