td {
  vertical-align: top;
}
.podcast {
  color: orange;
}

.magazine {
  color: blue;
}

.hobby {
  color: #cccccc;
}

a {
  color: #000000;
  text-decoration: none;
}

.profile {
  width: 30px;
  border-radius: 3px;
  margin-right: 5px;
  border: solid 0px #cccccc;
}
