<article class="newsitem">


  <md-card *ngIf="(newsItem | async)?.published" style="padding-top: 10px;">

    <md-card-content style="padding-top: 0; padding-bottom: 0; margin-bottom: 0">
      <app-user uid="{{(newsItem | async)?.author.uid}}"></app-user>
      <div class="datetime">{{ (0 - (newsItem | async)?.published) | date }}</div>
    </md-card-content>

    <img md-card-image src="../../../assets/images/placeholder.png">


    <md-card-header>
      <md-card-title>
        {{(newsItem | async)?.title}}
      </md-card-title>
    </md-card-header>


    <md-card-content>
      <p [innerHTML]="(newsItem | async)?.content"></p>
    </md-card-content>


    <md-card-content>
      <app-sources sources="{{(newsItem | async)?.$key}}"></app-sources>
    </md-card-content>


    <md-card-content>
      <a target='_blank' class="share"
         href="https://www.facebook.com/sharer/sharer.php?u=httpcafemagazine.firebaseapp.com/news/{{urlify((newsItem | async)?.title)}}/{{(newsItem | async)?.$key}}&caption={{(newsItem | async)?.title}}&description={{(newsItem | async)?.content}}&picture=https://httpcafemagazine.firebaseapp.com/assets/images/placeholder.png">
        <img src="../../../assets/images/facebook-logo.png" style='height: 20px; width: 20px;'> Please share</a>

      <a class="share" target='_blank'
         href="https://twitter.com/home?status={{(newsItem | async)?.title}} %23httpcafe https%3A//httpcafemagazine.firebaseapp.com/news/{{urlify((newsItem | async)?.title)}}/{{(newsItem | async)?.$key}}">
        <img src="../../../assets/images/twitter-logo.png" style='height: 20px; width: 20px;'> Please share</a>

    </md-card-content>
  </md-card>


  <md-card *ngIf="(newsItem | async)?.published" class="graybackground">
    <md-card-content>
      <app-feedback feedback="{{(newsItem | async)?.$key}}"></app-feedback>
    </md-card-content>
  </md-card>
</article>
<app-news [listOnly]="true" style="display: inline-block;"></app-news>
