<md-card>


    <div class="icon">
        <img src="../../../assets/images/login.png" style="height: 100%">
    </div>


    <div class="content" colspan="3">
        <div style="width: 100%; padding-left: 20px">
            <p><b>Gelieve in te loggen...</b></p>

            <br><br>

            <md-input-container>
                <input mdInput placeholder="e-mail" [(ngModel)]="email">
            </md-input-container>
            <md-input-container>
                <input mdInput type="password" placeholder="wachtwoord" [(ngModel)]="password">
            </md-input-container>
            <button md-raised-button class="loginbutton" (click)="loginWithPassword()">Log in</button>

            <br><br>(<a routerLink="/registreer">Nieuwe gebruiker?</a>)
            <br><br>
            <br><br>
            of met een provider naar keuze<br>
            <button md-raised-button (click)="login('twitter')">Twitter</button>
            <button md-raised-button (click)="login('google')">Google</button>
            <button md-raised-button (click)="login('github')">Github</button>
        </div>
    </div>


</md-card>
