<div>
  <span *ngFor="let url of items | async">


<!--
      <a md-raised-button *ngIf="url.url.includes('youtu')" href="{{url.url}}" target="_blank">
        <md-icon>play_arrow</md-icon>
        {{url.name}}
      </a>
-->
      <a *ngIf="url.url.includes('http')" href="{{url.url}}" target="_blank">
        <md-icon>attachment</md-icon>
        {{url.name}}
      </a>

      <a *ngIf="!url.url.includes('http')" href="#" routerLink="{{url.url}}">
        <md-icon>attachment</md-icon>
        {{url.name}}
      </a>

    <app-feedback id="{{url.$key}}"></app-feedback>
  </span>
</div>
