<table style="width: 100%">
  <tr *ngFor="let item of items | async">
    <td valign="top">
      <app-user imageonly="true" class="flex-item" uid="{{item.author.id}}"></app-user>
    </td>

    <td valign="top">
      <div style="padding: 3px 3px 3px 3px"><b>{{item.author.name}}</b>: {{item.text}}</div>
    </td>
  </tr>
  <tr *ngIf="uid">
    <td valign="top" width="30">
      <app-user imageonly="true" uid="{{uid}}"></app-user>
    </td>
    <td valign="top">
      <div style="padding: 0px 0px 0px 3px">
        <textarea [(ngModel)]="newfeedback" style="height: 50px; width: 70%; border: solid 1px #eeeeee"
                  placeholder="Schrijf een reactie..."></textarea>

        <button md-raised-button class="right" style="width: 20%" (click)="addReaction()">post</button>
      </div>
    </td>
  </tr>
  <tr *ngIf="editprofile">
    <td></td>
    <td>
      <h2>Profiel niet compleet.</h2>
      <app-profile short="true"></app-profile>
    </td>
  </tr>
  <tr *ngIf="!uid">
    <td></td>
    <td align="right">
      <a routerLink="/user">Voeg reactie toe</a>
    </td>
  </tr>
</table>
