@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0px;
    padding: 0px;
}/* You can add global styles to this file, and also import other style files */


app-profile, app-editor, app-subscription {
  float: left;
  width: 100%;
}


.mat-radio-label {
  white-space: normal !important;
}


.right {
  float: right !important;
}

h1 {
  font-size: 1.4em;
}
