@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0px;
    padding: 0px;
}/* You can add global styles to this file, and also import other style files */


app-profile, app-editor, app-subscription, app-podcasts, app-videocasts, app-news, app-messenger {
  float: left;
  width: 100vw;
}
app-user {
  display: inline-block;
}


.mat-radio-label {
  white-space: normal !important;
}


.right {
  float: right !important;
}

h1 {
  font-size: 1.4em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

a {
  color: #BB0050;
  text-decoration: none;
}
a:hover {
  color: #FF0090;
  text-decoration: underline;
}

h1 {
  color: #BB0050;
  font-size: 1.2em;
}

p {
  font-family: Roboto,"Helvetica Neue",sans-serif !important;
}